/* font family from google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&family=Work+Sans:ital,wght@0,400;0,600;0,800;1,500;1,700;1,800&display=swap');

*{
font-family: 'Mulish', sans-serif;
font-family: 'Work Sans', sans-serif;
}

body{
    background-color: rgba(255, 144, 14, 0.10);
    padding:60px 120px;
    
}
nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
   
}
div img{
   
    justify-content: center;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
}

 nav h3{
    display:flex ;
    justify-content: center;
    align-items: center;
    word-spacing: 10px;
    
    margin-left:20px;
    font-size:30px;
}
nav >ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
nav li{
    list-style: none;
    margin-right: 40px;
   
}

nav li a{
    text-decoration: none;
}
.banner-image{
    width:100%;
    
   
   
}
.home{
    color:#FF5400;
    font-weight:700;
    font-size:20px;
}
.package{
    color:#424247;
    font-size:20px;
    font-weight: 400;
}
.testimonial{
    color:#424247;
    font-size:20px;
    font-weight: 400;
}
.blog{
    color:#424247;
    font-size:20px;
    font-weight: 400;
}
.contact{
    color:#424247;
    font-size:20px;
    font-weight:400; 
}

.travel{
    color: #FF5400;
    font-size: 40px;
    font-weight: 800;
    margin-left: 10px;;
}
.banner-text{
font-size:40px;
font-weight: 800;
}
.banner-content{
font-size:15px;
font-weight:400;
}
.parent{
    text-align: center;
}
.btn-primary{
    background-color:#FF5400;
    color:white;
    font-size:12px;
    font-weight:700;
}
